.car-block {
    max-width: 280px;
    width: 100%;
    color: var(--blackColor);

    &:hover {
        .car-block__img {
            img {
                transform: scale(1.05);
            }
        }
    }
    &__img {
        margin-bottom: 10px;
        img {
            max-width: 100%;
            width: 100%;
            transition: transform 0.1s ease-in-out;
        }
    }
    &__title {
        margin-bottom: 5px;
    }
    &__price {
        margin-top: 30px;
        font-size: 19px;
        font-weight: 900;
        font-family: "Work Sans", sans-serif;
    }
    &__type {
        font-size: 16px;
    }
}
@media (max-width: 990px) {
    // .car-block {
    //     &__title {
    //         font-size: 18px;
    //     }
    //     &__type {
    //         font-size: 15px;
    //     }
    //     &__price {
    //         font-size: 17px;
    //         margin-top: 25px;
    //     }
    // }
}
@media (max-width: 850px) {
    .car-block {
        max-width: 100%;
        &__img {
            padding: 0 40px;
            margin-bottom: 20px;
        }
    }
}
