.about {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }

    &__story {
        &-info {
            max-width: 525px;
        }
        &-img {
            max-width: 525px;
            max-height: 350px;
        }
        
        &-title {
            line-height: 35px;
            margin-bottom: 20px;
        }
       
        &-subtitle {
            line-height: 25px;
            font-size: 14px;
            font-weight: 400;
        }
        
    }
}