.cars {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__name {
        font-weight: 900;
        font-size: 31px;
    }
    &__table {
        position: relative;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    &__table {
        position: relative;
    }

    &__list-item {
        position: absolute;
        display: none;
        max-width: 322px;
        right: 0;
        top: -10px;
        z-index: 10;
        font-size: 13px;
        font-weight: 400;
        border: 1px solid #F4F4F4;
        background-color: white;

        &__item {
            padding: 10px 12px;
            font-weight: 400;
            cursor: pointer;

        }

        &--active {
            display: block;
        }
    }
    
}



// .cars__list {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     grid-column-gap: 10px;
//     grid-row-gap: 10px;

//     @media(max-width: 1250px) {
//         grid-template-columns: repeat(3, 1fr);
//     }
//     @media(max-width: 1000px) {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
// .cars__inner {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-bottom: 30px;
// }
// .cars__name {
//     font-weight: 900;
//     font-size: 31px;
// }

// .cars__table {
//     position: relative;
    
//     button {
//         font-weight: 500;
//         font-size: 13px;
//         span {
//             font-weight: 600;
//         }
//     }

//     .cars__list-item {
//         position: absolute;
//         display: none;
//         max-width: 322px;
//         right: 0;
//         top: -10px;
//         z-index: 10;
//         font-size: 13px;
//         font-weight: 400;
//         border: 1px solid #F4F4F4;
//         background-color: white;
        
//         .cars__item {
//             padding: 10px 12px;
//             font-weight: 400;
//             cursor: pointer;

//             &.active {
//                 background-color: #F4F4F4;
//             }
//         }
    
//         &.active {
//             display: block;
//         }
//     }
    
// }
