.advantages {
    background-color: #fafafa;
    padding: 50px 0;

    &__title {
        margin-bottom: 40px;
    }
    &__content {
        background-color: var(--whiteColor);
        max-width: 900px;
        width: 100%;
        padding: 50px;
        box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.03);
        border-radius: 4px;
    }
    &__col {
        display: grid;
        grid-template-columns: 1fr 75%;
        gap: 40px;
        &:not(:last-child) {
            margin-bottom: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #d3d3d3;
        }
    }
    &__heading {
        font-weight: 900;
    }
    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
    }

    @media(max-width: 700px) {
        &__heading {
            margin-bottom: 15px;
        }
        &__col {
            display: block;
        }
    }
}

@media (max-width: 785px) {
    .advantages {
        &__content {
            padding: 50px 25px;
        }
    }
}
@media (max-width: 450px) {
    .advantages {
        &__content {
            padding: 30px 25px;
        }
        &__col {
            gap: 25px;
        }
        &__heading {
            font-weight: 900;
            font-size: 18px;
        }
        &__descr {
            font-size: 12px;
            font-weight: 500;
            line-height: 25px;
        }
    }
}
