.reviews {
    background-color: #232A36;
    padding: 50px 0;

    // .slick-arrow::before {
    //    display: none !important;
    // }

    .slick-prev{
        position: absolute;
        top: -28px;
        width: 36px;
        height: 2px;
        background-color: #ffffff;
        left: 980px;
    }

    .slick-prev::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        top: -6px;
        right: 21px;
        background-color: #ffffff;
        transform: rotate(-45deg);

        &:hover {
            pointer-events: none;
        }
    }
    .slick-prev::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        top: 6px;
        right: 20px;
        background-color: #ffffff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(45deg);
    }

    .slick-dots li.slick-active button:before {
        color: white;
    }

    .slick-dots li button:before {
        color: #dbdbdb;
    }

    .slick-next {
        position: absolute;
        top: -28px;
        width: 36px;
        height: 2px;
        background-color: #ffffff;
        right: 20px;
    }
    
    .slick-next::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        top: -7px;
        right: -2px;
        background-color: #ffffff;
        transform: rotate(45deg);

        &:hover {
            pointer-events: none;
        }
    }

    .slick-next::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 2px;
        top: 6px;
        right: -2px;
        background-color: #ffffff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        transform: rotate(-45deg);

        &:hover {
            pointer-events: none;
        }
    }

    

    &__title {
        font-size: 35px;
        font-weight: 900;
        margin-bottom: 38px;
        color: var(--whiteColor);
    }

    &__list {
        display: flex;
        justify-content: space-between;

        &-item {
            background-color: var(--whiteColor);
            padding: 35px ;
            border-radius: 10px;
            max-width: 360px;
            box-shadow: 0px 2px 27px rgba(0, 0, 0, 0.03);
        }

        &-name {
            color: var(--blackColor);
            margin-top: 10px;
            font-size: 14px;
            font-weight: 700;
            margin-left: 10px;
        }

        &-avatar {
            width: 65px;
            height: 65px;
            
        }
        &-profil {
            display: flex;
            text-align: end;
            margin-bottom: 20px;
        }

        &-comment {
            color: var(--blackColor);
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            height: 250px;
        }
    }
}