.modal-wrapper {
    position: fixed;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(51, 62, 80, 0.9);
    overflow: auto;

    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;
    z-index: 100;

    background-color: rgba(51, 62, 80, 0.9);
    padding: 70px;
    &__load {
        width: 100px;
        height: 100px;
    }
}
.modal {
    position: relative;
    width: 88%;
    max-width: 960px;
    margin: 3% auto;
    border-radius: 4px;
    background-color: var(--whiteColor);
    padding: 0 40px;
    padding-bottom: 30px;
    &__close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0;
        right: -40px;
        cursor: pointer;
        &:hover {
            * {
                fill: #49d0ff;
            }
        }
    }
    &__inner-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        svg {
            width: 30px;
            height: 30px;
        }
        &:hover {
            * {
                fill: #49d0ff;
            }
        }
        display: none;
    }
    &__container {
        display: grid;
        grid-template-columns: 60% 1fr;
    }
    &__content {
        display: none;
        &--active {
            display: block;
        }
    }
    &__col:first-child {
        border-right: 1px solid #e7e8ea;
        padding-right: 30px;
    }
    &__col:last-child {
        padding-left: 30px;
    }
    &__menu {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid #e7e8ea;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    &__item {
        color: var(--lightColor);
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
        &--active {
            color: var(--blackColor);
        }
    }
    &__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
        color: var(--darkColor);
    }
    &__heading {
        font-size: 22px;
        color: var(--darkColor);
        border-bottom: 1px solid #e7e8ea;
        padding-bottom: 30px;
    }
    &__info-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        padding: 20px 0;
        font-size: 16px;

        &:not(:last-child) {
            border-bottom: 1px solid #e7e8ea;
        }
    }
    &__info-heading {
        font-weight: 600;
    }
    &__info-text {
        font-size: 16px;
    }
    &__img-adap {
        display: none;
    }
    &__img {
        padding-top: 30px;
        margin-bottom: 20px;

        img {
            width: 100%;
        }
    }
    &__last-info {
        margin-bottom: 20px;
    }
    &__slider {
        overflow: hidden;
        border-radius: 4px;
        .swiper-slide {
            box-sizing: content-box;
            width: 100%;
            height: 250px;
            img {
                object-fit: cover;
                height: 255px;
                display: block;
                width: auto;
                transition: filter 0.1s ease-in-out;

                &:hover {
                    filter: brightness(80%);
                }
            }
        }
        .swiper-pagination {
            width: 30px;
            left: 5px;
            color: var(--whiteColor);
            font-size: 10px;
            background-color: rgba(#333e50, 0.7);
        }
        .swiper-button-next {
            background-color: #20282f;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            color: var(--whiteColor);
            &::after {
                margin-right: -2px;
                font-size: 16px;
                left: -2px;
            }
        }
        .swiper-button-prev {
            background-color: #20282f;
            border-radius: 100%;
            height: 35px;
            width: 35px;
            color: var(--whiteColor);
            &::after {
                margin-left: -2px;
                font-size: 16px;
            }
        }
        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            width: 80%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__last-heading {
        font-size: 25px;
        border-bottom: 1px solid #e7e8ea;
        padding-bottom: 25px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        padding-top: 12px;
        font-size: 16px;
        &:not(:last-child) {
            border-bottom: 1px solid #e7e8ea;
        }
        &--not-border {
            border-bottom: 1px solid #ffffff;
        }
    }

    &__last {
        padding-top: 12px;
        border-top: 2px solid var(--darkColor);
        .modal__block {
            border-bottom: 1px solid #ffffff;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    &__price {
        font-family: "Work Sans", sans-serif;
    }
    &__descr {
        font-weight: 600;
    }
    &__submit {
        border: 0;
        color: var(--whiteColor);
        width: 100%;
        padding: 15px 10px !important;
        background-color: var(--blackColor) !important;
        &:disabled {
            opacity: 0.6;
            cursor: default;
        }
    }
    .react-select__option {
        font-size: 15px;
    }
    &__form {
        display: flex;
        flex-direction: column;
    }
    &__form-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    &__date {
        * {
            z-index: 400;
        }
    }
    &__filter-wrapper {
        position: relative;
    }
    &__form-select {
        margin-bottom: 15px;
        .react-select__menu {
            z-index: 900;
        }
    }

    &__form-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        color: var(--lightColor);

        &--error {
            input {
                border: 1px solid #ff7b7b;
                background-color: #fff7f7;
                &:hover {
                    border: 1px solid #ff7b7b;
                }
                &:focus {
                    border: 1px solid #ff7b7b;
                }
            }
        }
    }
    &__form-place {
        display: inline-block;
        margin-bottom: 8px;
        font-size: 16px;
    }
    &__field-wrapp {
        position: relative;
        &--mod {
            position: relative;
        }
    }

    &__field-close {
        position: absolute;
        right: 10px;
        width: 18px;
        opacity: 0.7;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__form-field {
        border: 1px solid #cdcfdb;
        padding: 13px 15px 13px 7px;
        border-radius: 5px;
        font-size: 18px;
        outline: none;
        width: 100%;
        &:hover {
            border: 1px solid #aaa9a7;
        }
        &::placeholder {
            font-size: 16px;
        }
        &:focus {
            border: 1px solid #aaa9a7;
        }
        &[type="date"]::-webkit-calendar-picker-indicator {
            display: none;
        }
    }
    &__form-error {
        font-size: 13px !important;
        color: #ff7b7b;
    }
    &__date-info {
        display: flex;
        color: #828280;
        font-size: 16px;
        padding: 13px 15px 13px 7px;
        margin-bottom: 15px;
        border: 1px solid #cdcfdb;
        border-radius: 5px;
        &:hover {
            border: 1px solid #aaa9a7;
        }
    }
    &__date-date {
        display: inline-block;
        margin-right: auto;
    }
    &__date-days {
        font-size: 14px;
    }
    &__calendar {
        position: absolute;
        display: none !important;
        &--active {
            display: block !important;
        }
    }
    &__form-radios {
        margin-bottom: 15px;
        display: flex;
        gap: 20px;
    }
    &__gearbox {
        color: #20282f;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        margin-bottom: 10px;
        label {
            cursor: pointer;
        }
    }
    &__gearbox-radio {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    &__radio-custom {
        position: relative;
        display: inline-block;
        transition: 0.2s ease-in;
        vertical-align: sub;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        border: 2px solid var(--blueColor);
        border-radius: 50%;

        &::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--blueColor);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.2s ease-in;
        }
    }

    &__gearbox-radio--active + &__radio-custom::before {
        transform: translate(-50%, -50%) scale(1);
    }
    &__form-textarea {
        border: 1px solid #cdcfdb;
        padding: 9px 15px 9px 7px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 18px;
        outline: none;
        resize: none;
        height: 120px;
        &:hover {
            border: 1px solid #aaa9a7;
        }
        &::placeholder {
            font-size: 16px;
        }
        &:focus {
            border: 1px solid #aaa9a7;
        }
    }
}
.rdrDateRangePickerWrapper {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.rdrCalendarWrapper.rdrDateRangeWrapper {
    width: 100%;
}
.rdrDefinedRangesWrapper {
    display: none;
}
.rdrMonthAndYearWrapper {
    width: 100%;
}
.rdrMonth {
    width: 100%;
}

@media (max-width: 900px) {
    .modal {
        &__container {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &__img {
            display: none;
        }
        &__img-adap {
            display: block;
            padding: 0 120px;
            margin-bottom: 40px;
            img {
                width: 100%;
            }
        }
        &__col {
            &:first-child {
                border-right: 0;
                padding-right: 0;
            }
            &:last-child {
                padding-left: 0;
            }
        }
    }
}
@media (max-width: 780px) {
    .modal-wrapper {
        padding: 0;
    }
    .modal {
        &__img-adap {
            padding: 0 60px;
        }
        &__info-item {
            display: flex;
            justify-content: space-between;
        }
    }
}
@media (max-width: 650px) {
    .modal {
        margin: 0;
        width: 100%;
        border-radius: 0;

        &__close {
            display: none;
        }
        &__inner-close {
            display: block;
        }
        &__item {
            font-size: 16px;
        }
        &__title {
            font-size: 40px;
        }
        &__heading {
            font-size: 20px;
        }
        &__last-heading {
            font-size: 20px;
        }
        &__info-heading {
            font-size: 15px;
        }
        &__info-text {
            font-size: 14px;
        }
        &__descr {
            font-size: 15px;
        }
        &__price {
            font-size: 14px;
        }
        &__date-date {
            font-size: 14px;
        }
        &__date-days {
            font-size: 13px;
            font-weight: 600;
        }
        &__form-title {
            font-size: 20px;
            margin-bottom: 15px;
        }
        &__form-place {
            font-size: 14px;
            margin-bottom: 5px;
        }
        &__radio-label {
            font-size: 15px;
        }
        &__radio-custom {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            &::before {
                width: 7px;
                height: 7px;
            }
        }
    }
}
@media (max-width: 550px) {
    .modal {
        padding: 0 10px 40px;
        &__img-adap {
            padding: 0 20px;
        }
    }
}
@media (max-width: 450px) {
    .modal {
        &__filter-wrapper {
            position: absolute;
            left: -10px;
        }
    }
    .rdrDateRangePickerWrapper {
        transform: scale(0.85);
    }
}
@media (max-width: 380px) {
    .modal {
        &__inner-close {
            top: 28px;
            right: 10px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        &__menu {
            gap: 15px;
        }
        &__item {
            font-size: 14px;
        }
        &__title {
            font-size: 35px;
        }
        &__slider {
            .swiper-button-prev {
                width: 25px;
                height: 25px;
                &::after {
                    font-size: 12px;
                }
            }
            .swiper-button-next {
                width: 25px;
                height: 25px;
                &::after {
                    font-size: 12px;
                }
            }
        }
    }
}
