.slider-block {
    &__title {
        margin-bottom: 40px;
    }
    &__content {
        display: flex;
        justify-content: center;
        gap: 45px;
        margin-bottom: 60px;
        @media (max-width: 850px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px 25px;
        }
        @media (max-width: 770px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
