.image-modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #333e50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 40px;
}
.image-modal-slider {
    max-width: 1200px;
    width: 100%;
    .swiper-zoom-container {
        padding: 0 100px;
    }
    img {
        width: 100%;
    }
    .swiper-button-prev {
        background-color: #616871;
        height: 50px;
        width: 50px;
        left: 0;
        border-radius: 100%;
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
        &::after {
            margin-left: -2px;
            font-size: 18px;
        }
    }
    .swiper-button-next {
        background-color: #616871;
        height: 50px;
        width: 50px;
        right: 0;
        border-radius: 100%;
        transition: opacity 0.2s ease-in-out;
        &:hover {
            opacity: 0.8;
        }
        &::after {
            margin-right: -2px;
            font-size: 18px;
        }
    }
}
