@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@400;600&display=swap");

:root {
    --blackColor: #121214;
    --blueColor: #49d0ff;
    --lightColor: #8c8f96;
    --darkColor: #303030;
    --whiteColor: #ffffff;
}
#root {
    position: relative;
    height: 100%;
}
.app {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    line-height: 22px;
    height: 100%;
    width: calc(100vw - 17px);
    &.modal-open {
        overflow-y: hidden;
    }
}

// font-family: "Work Sans", sans-serif;
button {
    background: 0;
    border: 0;
    cursor: pointer;
}
ul {
    list-style: none;
}
// .content {
// }
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    font-size: 35px;
    font-weight: 900;
    @media (max-width: 950px) {
        font-size: 32px;
    }
}
.menu {
    &__link {
        transition: color 0.2s ease-in-out;
        &.active {
            color: var(--blueColor);
        }
    }
}
.scroll {
    max-width: 100%;
}
