.languages {
    position: relative;
    width: 30px;

    &__window {
        position: absolute;
        transition: 0.2s ease-in;
        opacity: 0;
        z-index: 999;
        padding: 3px;
        background-color: var(--whiteColor);
        border-radius: 5px;
        pointer-events: none;
        &--active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__item {
        background-color: var(--whiteColor);
        padding: 5px 10px;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(245, 244, 244);
        }

        &-img {
            width: 35px;
            height: 30px;
            margin-right: 7px;
        }
    }
    &__button {
        color: var(--whiteColor);
    }

    @media(max-width: 950px) {
        &__window {
            top: -130px;
        }
    }
}
